body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em 1em;
  color: #2d2d2d
}

header {
  text-align: center;
  margin: 20px 0;
}

#search-button {
  margin: 10px 0 20px;
}

#error{
  text-align: center;
}

#user {
  text-align: center;
  padding-right: 10px;
}

.user-name {
  text-align: center;
}

img {
  width: 95.5px;
  height: 95.5px;
  text-align: center;
}
